<nz-tag [nzColor]="'blue'">a 形容词</nz-tag>
<nz-tag [nzColor]="'blue'">ad 副形词</nz-tag>
<nz-tag [nzColor]="'blue'">ag 形容词性语素</nz-tag>
<nz-tag [nzColor]="'blue'">al 形容词性惯用语</nz-tag>
<nz-tag [nzColor]="'blue'">an 名形词</nz-tag>
<nz-tag [nzColor]="'blue'">b 区别词</nz-tag>
<nz-tag [nzColor]="'blue'">begin 仅用于始##始</nz-tag>
<nz-tag [nzColor]="'blue'">bg 区别语素</nz-tag>
<nz-tag [nzColor]="'blue'">bl 区别词性惯用语</nz-tag>
<nz-tag [nzColor]="'blue'">c 连词</nz-tag>
<nz-tag [nzColor]="'blue'">cc 并列连词</nz-tag>
<nz-tag [nzColor]="'blue'">d 副词</nz-tag>
<nz-tag [nzColor]="'blue'">dg 辄,俱,复之类的副词</nz-tag>
<nz-tag [nzColor]="'blue'">dl 连语</nz-tag>
<nz-tag [nzColor]="'blue'">e 叹词</nz-tag>
<nz-tag [nzColor]="'blue'">end 仅用于终##终</nz-tag>
<nz-tag [nzColor]="'blue'">f 方位词</nz-tag>
<nz-tag [nzColor]="'blue'">g 学术词汇</nz-tag>
<nz-tag [nzColor]="'blue'">gb 生物相关词汇</nz-tag>
<nz-tag [nzColor]="'blue'">gbc 生物类别</nz-tag>
<nz-tag [nzColor]="'blue'">gc 化学相关词汇</nz-tag>
<nz-tag [nzColor]="'blue'">gg 地理地质相关词汇</nz-tag>
<nz-tag [nzColor]="'blue'">gi 计算机相关词汇</nz-tag>
<nz-tag [nzColor]="'blue'">gm 数学相关词汇</nz-tag>
<nz-tag [nzColor]="'blue'">gp 物理相关词汇</nz-tag>
<nz-tag [nzColor]="'blue'">h 前缀</nz-tag>
<nz-tag [nzColor]="'blue'">i 成语</nz-tag>
<nz-tag [nzColor]="'blue'">j 简称略语</nz-tag>
<nz-tag [nzColor]="'blue'">k 后缀</nz-tag>
<nz-tag [nzColor]="'blue'">l 习用语</nz-tag>
<nz-tag [nzColor]="'blue'">m 数词</nz-tag>
<nz-tag [nzColor]="'blue'">mg 数语素</nz-tag>
<nz-tag [nzColor]="'blue'">Mg 甲乙丙丁之类的数词</nz-tag>
<nz-tag [nzColor]="'blue'">mq 数量词</nz-tag>
<nz-tag [nzColor]="'blue'">n 名词</nz-tag>
<nz-tag [nzColor]="'blue'">nb 生物名</nz-tag>
<nz-tag [nzColor]="'blue'">nba 动物名</nz-tag>
<nz-tag [nzColor]="'blue'">nbc 动物纲目</nz-tag>
<nz-tag [nzColor]="'blue'">nbp 植物名</nz-tag>
<nz-tag [nzColor]="'blue'">nf 食品，比如“薯片”</nz-tag>
<nz-tag [nzColor]="'blue'">ng 名词性语素</nz-tag>
<nz-tag [nzColor]="'blue'">nh 医药疾病等健康相关名词</nz-tag>
<nz-tag [nzColor]="'blue'">nhd 疾病</nz-tag>
<nz-tag [nzColor]="'blue'">nhm 药品</nz-tag>
<nz-tag [nzColor]="'blue'">ni 机构相关（不是独立机构名）</nz-tag>
<nz-tag [nzColor]="'blue'">nic 下属机构</nz-tag>
<nz-tag [nzColor]="'blue'">nis 机构后缀</nz-tag>
<nz-tag [nzColor]="'blue'">nit 教育相关机构</nz-tag>
<nz-tag [nzColor]="'blue'">nl 名词性惯用语</nz-tag>
<nz-tag [nzColor]="'blue'">nm 物品名</nz-tag>
<nz-tag [nzColor]="'blue'">nmc 化学品名</nz-tag>
<nz-tag [nzColor]="'blue'">nn 工作相关名词</nz-tag>
<nz-tag [nzColor]="'blue'">nnd 职业</nz-tag>
<nz-tag [nzColor]="'blue'">nnt 职务职称</nz-tag>
<nz-tag [nzColor]="'blue'">nr 人名</nz-tag>
<nz-tag [nzColor]="'blue'">nr1 复姓</nz-tag>
<nz-tag [nzColor]="'blue'">nr2 蒙古姓名</nz-tag>
<nz-tag [nzColor]="'blue'">nrf 音译人名</nz-tag>
<nz-tag [nzColor]="'blue'">nrj 日语人名</nz-tag>
<nz-tag [nzColor]="'blue'">ns 地名</nz-tag>
<nz-tag [nzColor]="'blue'">nsf 音译地名</nz-tag>
<nz-tag [nzColor]="'blue'">nt 机构团体名</nz-tag>
<nz-tag [nzColor]="'blue'">ntc 公司名</nz-tag>
<nz-tag [nzColor]="'blue'">ntcb 银行</nz-tag>
<nz-tag [nzColor]="'blue'">ntcf 工厂</nz-tag>
<nz-tag [nzColor]="'blue'">ntch 酒店宾馆</nz-tag>
<nz-tag [nzColor]="'blue'">nth 医院</nz-tag>
<nz-tag [nzColor]="'blue'">nto 政府机构</nz-tag>
<nz-tag [nzColor]="'blue'">nts 中小学</nz-tag>
<nz-tag [nzColor]="'blue'">ntu 大学</nz-tag>
<nz-tag [nzColor]="'blue'">nx 字母专名</nz-tag>
<nz-tag [nzColor]="'blue'">nz 其他专名</nz-tag>
<nz-tag [nzColor]="'blue'">o 拟声词</nz-tag>
<nz-tag [nzColor]="'blue'">p 介词</nz-tag>
<nz-tag [nzColor]="'blue'">pba 介词“把”</nz-tag>
<nz-tag [nzColor]="'blue'">pbei 介词“被”</nz-tag>
<nz-tag [nzColor]="'blue'">q 量词</nz-tag>
<nz-tag [nzColor]="'blue'">qg 量词语素</nz-tag>
<nz-tag [nzColor]="'blue'">qt 时量词</nz-tag>
<nz-tag [nzColor]="'blue'">qv 动量词</nz-tag>
<nz-tag [nzColor]="'blue'">r 代词</nz-tag>
<nz-tag [nzColor]="'blue'">rg 代词性语素</nz-tag>
<nz-tag [nzColor]="'blue'">Rg 古汉语代词性语素</nz-tag>
<nz-tag [nzColor]="'blue'">rr 人称代词</nz-tag>
<nz-tag [nzColor]="'blue'">ry 疑问代词</nz-tag>
<nz-tag [nzColor]="'blue'">rys 处所疑问代词</nz-tag>
<nz-tag [nzColor]="'blue'">ryt 时间疑问代词</nz-tag>
<nz-tag [nzColor]="'blue'">ryv 谓词性疑问代词</nz-tag>
<nz-tag [nzColor]="'blue'">rz 指示代词</nz-tag>
<nz-tag [nzColor]="'blue'">rzs 处所指示代词</nz-tag>
<nz-tag [nzColor]="'blue'">rzt 时间指示代词</nz-tag>
<nz-tag [nzColor]="'blue'">rzv 谓词性指示代词</nz-tag>
<nz-tag [nzColor]="'blue'">s 处所词</nz-tag>
<nz-tag [nzColor]="'blue'">t 时间词</nz-tag>
<nz-tag [nzColor]="'blue'">tg 时间词性语素</nz-tag>
<nz-tag [nzColor]="'blue'">u 助词</nz-tag>
<nz-tag [nzColor]="'blue'">ud 助词</nz-tag>
<nz-tag [nzColor]="'blue'">ude1 的 底</nz-tag>
<nz-tag [nzColor]="'blue'">ude2 地</nz-tag>
<nz-tag [nzColor]="'blue'">ude3 得</nz-tag>
<nz-tag [nzColor]="'blue'">udeng 等 等等 云云</nz-tag>
<nz-tag [nzColor]="'blue'">udh 的话</nz-tag>
<nz-tag [nzColor]="'blue'">ug 过</nz-tag>
<nz-tag [nzColor]="'blue'">uguo 过</nz-tag>
<nz-tag [nzColor]="'blue'">uj 助词</nz-tag>
<nz-tag [nzColor]="'blue'">ul 连词</nz-tag>
<nz-tag [nzColor]="'blue'">ule 了 喽</nz-tag>
<nz-tag [nzColor]="'blue'">ulian 连 （“连小学生都会”）</nz-tag>
<nz-tag [nzColor]="'blue'">uls 来讲 来说 而言 说来</nz-tag>
<nz-tag [nzColor]="'blue'">usuo 所</nz-tag>
<nz-tag [nzColor]="'blue'">uv 连词</nz-tag>
<nz-tag [nzColor]="'blue'">uyy 一样 一般 似的 般</nz-tag>
<nz-tag [nzColor]="'blue'">uz 着</nz-tag>
<nz-tag [nzColor]="'blue'">uzhe 着</nz-tag>
<nz-tag [nzColor]="'blue'">uzhi 之</nz-tag>
<nz-tag [nzColor]="'blue'">v 动词</nz-tag>
<nz-tag [nzColor]="'blue'">vd 副动词</nz-tag>
<nz-tag [nzColor]="'blue'">vf 趋向动词</nz-tag>
<nz-tag [nzColor]="'blue'">vg 动词性语素</nz-tag>
<nz-tag [nzColor]="'blue'">vi 不及物动词（内动词）</nz-tag>
<nz-tag [nzColor]="'blue'">vl 动词性惯用语</nz-tag>
<nz-tag [nzColor]="'blue'">vn 名动词</nz-tag>
<nz-tag [nzColor]="'blue'">vshi 动词“是”</nz-tag>
<nz-tag [nzColor]="'blue'">vx 形式动词</nz-tag>
<nz-tag [nzColor]="'blue'">vyou 动词“有”</nz-tag>
<nz-tag [nzColor]="'blue'">w 标点符号</nz-tag>
<nz-tag [nzColor]="'blue'">wb 百分号千分号，全角：％ ‰ 半角：%</nz-tag>
<nz-tag [nzColor]="'blue'">wd 逗号，全角：， 半角：,</nz-tag>
<nz-tag [nzColor]="'blue'">wf 分号，全角：； 半角： ;</nz-tag>
<nz-tag [nzColor]="'blue'">wh 单位符号，全角：￥ ＄ ￡°℃半角：$</nz-tag>
<nz-tag [nzColor]="'blue'">wj 句号，全角：。</nz-tag>
<nz-tag [nzColor]="'blue'">wky 右括号，全角：） 〕］ ｝ 》】 〗 〉 半角： ) ] } &gt;</nz-tag>
<nz-tag [nzColor]="'blue'">wkz 左括号，全角：（ 〔［｛《 【〖 〈 半角：( [ {{"{"}} &lt;  </nz-tag>
<nz-tag [nzColor]="'blue'">wm 冒号，全角：： 半角： : </nz-tag>
<nz-tag [nzColor]="'blue'">wn 顿号，全角：、 </nz-tag>
<nz-tag [nzColor]="'blue'">wp 破折号，全角：—— －－ ——－ 半角：——- </nz-tag>
<nz-tag [nzColor]="'blue'">ws 省略号，全角：……… </nz-tag>
<nz-tag [nzColor]="'blue'">wt 叹号，全角：！ </nz-tag>
<nz-tag [nzColor]="'blue'">ww 问号，全角：？ </nz-tag>
<nz-tag [nzColor]="'blue'">wyy 右引号，全角：” ’ 』 </nz-tag>
<nz-tag [nzColor]="'blue'">wyz 左引号，全角：“ ‘ 『 </nz-tag>
<nz-tag [nzColor]="'blue'">x 字符串 </nz-tag>
<nz-tag [nzColor]="'blue'">xu 网址URL </nz-tag>
<nz-tag [nzColor]="'blue'">xx 非语素字 </nz-tag>
<nz-tag [nzColor]="'blue'">y 语气词(delete yg) </nz-tag>
<nz-tag [nzColor]="'blue'">yg 语气语素 </nz-tag>
<nz-tag [nzColor]="'blue'">z 状态词 </nz-tag>
<nz-tag [nzColor]="'blue'">zg 状态词</nz-tag>
