<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <span class="header-trigger" (click)="isCollapsed=!isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </span>
      <app-header></app-header>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">

      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="this.isCollapsed">
        <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? '首页' : ''" nzSelected nzMatchRouter>
          <i nz-icon nzType="home"></i>
          <span routerLink="/welcome">首页</span>
        </li>
        <li nz-submenu nzTitle="数据管理" nzIcon="folder">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/file-manager">文件管理</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/search">数据检索</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="特征分析" nzIcon="line-chart">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">数据透视</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">文本分词</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">字频统计</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">词频统计</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">自动摘要</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">特征词提取</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">简繁转换</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">文本聚类</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="配置管理" nzIcon="profile">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">分词算法</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">词库定义</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/building">去停词库</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="用户管理" nzIcon="user">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>修改个人信息</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>修改密码</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>注销</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer>Created by 中山大学 <a><b>肖鹏博士团队</b></a> @ 2019 ShenZhen</nz-footer>
</nz-layout>



