<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <span class="header-trigger" (click)="isCollapsed=!isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </span>
      <app-header [userName]="user.username"></app-header>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">

      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="this.isCollapsed">
        <li nz-menu-item nz-tooltip nzPlacement="right"  nzSelected nzMatchRouter>
          <a routerLink="/welcome"><i nz-icon nzType="home"></i>{{isCollapsed ? '' : '首页'}}</a>
        </li>
        <!--        <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? '测试页面' : ''" nzSelected nzMatchRouter>-->

        <!--          <a routerLink="/test"><i nz-icon nzType="bug"></i>{{isCollapsed ? '' : '测试页面'}}</a>-->
        <!--        </li>-->
        <li nz-submenu nzTitle="数据管理" nzIcon="folder">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/file-manager">文件管理</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/search">数据检索</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/translate">简繁转换</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="特征分析" nzIcon="line-chart">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/feature">数据透视</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/segment">文本分词</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/charfreq">字频统计</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/wordfreq">词频统计</a>
            </li>
            <!--            <li nz-menu-item nzMatchRouter>-->
            <!--              <a routerLink="/abstract">自动摘要</a>-->
            <!--            </li>-->

          </ul>
        </li>
        <li nz-submenu nzTitle="高级分析" nzIcon="line-chart">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/keywords">提取关键词</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a routerLink="/cluster">文本聚类</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="数据清洗" nzIcon="profile">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/autoclean">自动清洗</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/stopclean">去停词清洗</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="用户研究" nzIcon="user">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/operlog">行为轨迹</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="用户管理" nzIcon="user">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/edituser">修改个人信息</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/password">修改密码</a>
            </li>
          </ul>
        </li>

      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer>
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>



