.prof{
  //height: 60%;
  background:#FFFFFFAA;

}

.back{
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  height: 100%;
}
.mask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:#FFFFFFAA;
  height: 100%;
}

