.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #fff;
  transition: all .3s;
}

.title img {
  height: 32px;
  width: 32px;
}

.userinfo{
  margin-right: 20px;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-weight: bold;
}
.title{
  display: flex;
  align-items: center;
}
.title h1 {
  margin: 0 0 0 20px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
}

.title h2 {
  margin: 0 0 0 20px;
  color: gray;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
}
