<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="folder"></i><span>特征分析</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>文本分词</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div>
  <nz-card nzBordered="false">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择文本" [(ngModel)]="selectedValue"
               (ngModelChange)="selectFile(selectedValue)">
      <nz-option [nzLabel]="f.id.toString()+'. '+f.filename" [nzValue]="f.id" *ngFor="let f of fileList"></nz-option>
    </nz-select>

    <nz-divider></nz-divider>
    <p>文本内容：</p>
    <nz-spin [nzSpinning]="isSpanningFile">
      <textarea disabled>{{this.file.content}}</textarea></nz-spin>
    <nz-divider></nz-divider>
    <p>分词结果：</p>
    <nz-spin [nzSpinning]="isSpanningSegment">
      <textarea disabled>{{this.fileSegment.content}}</textarea></nz-spin>
    <nz-divider></nz-divider>
    <p>词性标注：</p>
    <nz-spin [nzSpinning]="isSpanningSegment">
      <textarea disabled>{{this.fileSegment.contentnature}}</textarea></nz-spin>
  </nz-card>
</div>
