<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="line-chart"></i><span>特征分析</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>字频统计</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div>
  <nz-card nzBordered="false">
    <app-file-select (eventSelect)="selectFile($event)"></app-file-select>

    <nz-divider></nz-divider>

    <p>文本内容：</p>
    <nz-spin [nzSpinning]="isSpanning">
      <textarea disabled>{{this.file.content}}</textarea></nz-spin>
    <nz-divider></nz-divider>

    <div nz-row>
      <nz-table nz-col nzSpan="4"
                #basicTable [nzData]="charFreq|keyvalue"
                nzSize="small">
        <thead>
        <tr>
          <th>名称</th>
          <th nzShowSort
              nzSortKey="value">频率</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.key}}</td>
          <td>{{data.value}}</td>
        </tr>
        </tbody>
      </nz-table>
      <div echarts nz-col nzSpan="16" [options]="option" style="height: 400px;">

      </div>
    </div>
  </nz-card>
</div>
