<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="line-chart"></i><span>特征分析</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>字频统计</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div>
  <nz-card nzBordered="false">
    <app-file-select (eventSelect)="selectFile($event)"></app-file-select>

    <nz-divider></nz-divider>

    <p>文本内容：</p>
    <nz-spin [nzSpinning]="isSpanning">
      <textarea disabled>{{this.file.content}}</textarea></nz-spin>
    <nz-divider></nz-divider>
    <button nz-button (click)="exportExcel()">导出</button>

    <div nz-row>
      <nz-table nz-col id="exportableTable"
                nzSpan="8"
                #basicTable
                [nzData]="this.charFreqArray"
                nzSize="small"
                class="col-element">
        <thead>
        <tr>
          <th>名称</th>
          <th>频率</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of basicTable.data">
          <td>{{i.name}}</td>
          <td>{{i.value}}</td>
        </tr>
        </tbody>
      </nz-table>
      <div echarts nz-col nzSpan="12"  class="col-element">
        <app-word-cloud [displayData]="this.charFreqArray"></app-word-cloud>
      </div>

    </div>
  </nz-card>
</div>
