<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="line-chart"></i><span>特征分析</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>字频统计</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div>
  <nz-card nzBordered="false">
    <app-file-select (eventSelect)="selectFile($event)"></app-file-select>

    <nz-divider></nz-divider>

    <p>文本内容：</p>
    <nz-spin [nzSpinning]="isSpanning">
      <textarea disabled>{{this.file.content}}</textarea></nz-spin>
    <nz-divider></nz-divider>


  </nz-card>
</div>
