<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="folder"></i><span>数据管理</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>文件检索</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div>
  <nz-card [nzBordered]="false">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="检索文本内容" [(ngModel)]="content"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
    </ng-template>
    <nz-divider></nz-divider>
    <nz-table #basicTable
              nzShowPagination
              [nzData]="listOfData"
              nzSize="small"
              [nzLoading]="isSpinning"
    >
      <thead>
      <tr>
        <th>文件</th>
        <th>内容</th>
        <th>索引值</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of basicTable.data">
        <td>{{row['filename']}}</td>
        <td>{{row['sentence']}}</td>
        <td>{{row['index']}}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>

