<div>
  <nz-card [nzBordered]="false" nzTitle="文件列表" [nzExtra]="extraTemplate">
    <nz-spin [nzSpinning]="isSpinning" nzSize="large" nzTip="文件分析中...">
      <nz-table #basicTable
                nzShowPagination
                [nzData]="listOfData"
                nzSize="small"
                nzFrontPagination="true">
        <thead>
        <tr>
          <th [nzSortKey]=col.field *ngFor="let col of cols">
            {{col.header}}
          </th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of basicTable.data">
          <td *ngFor="let col of cols">
            {{row[col.field]}}
          </td>
          <td>
            <button nz-button nzType="primary" (click)="showFile(row.id, row.filename )"><i nz-icon nzType="read"></i>查看
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  </nz-card>
</div>
<div>
  <nz-modal [(nzVisible)]="isVisibleFileContent" [nzTitle]="fileName" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()" nzWidth="50%" nzFooter=null>
    <nz-tag nzColor="red">只显示前1000字</nz-tag>
    <p>{{content}}</p>
  </nz-modal>
</div>
