div{
  margin: 24px;
}
:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.btnUpload{
  margin-top:16px;
  width: 160px;
}

div{
  margin: 24px;
}

p{
  color:red;
  font-size: small;
}

button {margin:4px;}
