<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="smile"></i><span>用户研究</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>行为轨迹</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>


<div>
  <nz-card>
  <nz-table [nzNoResult]="">
    <thead>
    <tr>
      <th>用户ID</th>
      <th>名称</th>
      <th>操作类型</th>
      <th>操作说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>whaim</td>
      <td>王海明</td>
      <td>登陆</td>
      <td>登陆系统</td>
    </tr>
    <tr>
      <td>whaim</td>
      <td>王海明</td>
      <td>上传</td>
      <td>上传文件【论语.txt】</td>
    </tr>
    <tr>
      <td>whaim</td>
      <td>王海明</td>
      <td>上传</td>
      <td>上传文件【中国近代史纲要.txt】</td>
    </tr>
    <tr>
      <td>whaim</td>
      <td>王海明</td>
      <td>分析</td>
      <td>执行数据分析</td>
    </tr>
    <tr>
      <td>whaim</td>
      <td>王海明</td>
      <td>分析</td>
      <td>执行文本聚类</td>
    </tr>
    <tr>
      <td>whaim</td>
      <td>王海明</td>
      <td>退出</td>
      <td>退出系统</td>
    </tr>
    </tbody>
  </nz-table></nz-card>
</div>
