<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="home"></i><span>首页</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="smile"></i><span>用户研究</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><span>行为轨迹</span></a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div>
  <nz-card>
  <nz-table #basicTable [nzData]="this.operLogs">
    <thead>
    <tr>
      <th>序号</th>
      <th>用户ID</th>
      <th>名称</th>
      <th>操作时间</th>
      <th>操作类型</th>
      <th>操作说明</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let it of basicTable.data">
      <td>{{it.id}}</td>
      <td>{{it.usercode}}</td>
      <td>{{it.username}}</td>
      <td>{{it.opertime}}</td>
      <td>{{it.opertype}}</td>
      <td>{{it.operinfo}}</td>
    </tr>
    </tbody>
  </nz-table></nz-card>
</div>
