<nz-table #basicTable
          nzShowPagination
          [nzData]="listOfData"
          nzSize="small"
          [nzLoading]="isSpinning"
          (nzCurrentPageDataChange)="currentPageDataChange($event)"
>
  <thead>
  <tr>
    <th
      [nzShowCheckbox]="showCheckBox"
      [(nzChecked)]="isAllDisplayDataChecked"
      [nzIndeterminate]="isIndeterminate"
      (nzCheckedChange)="checkAll($event)"
    ></th>
    <th [nzSortFn]=col.field *ngFor="let col of cols">
      {{col.header}}
    </th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of basicTable.data">
    <td
      [nzShowCheckbox]="showCheckBox"
      [(nzChecked)]="mapOfCheckedId[row.id]"
      (nzCheckedChange)="refreshStatus()"
    ></td>
    <td *ngFor="let col of cols">
      {{row[col.field]}}
    </td>
    <td>
      <button nz-button (click)="showFile(row.id, row.filename )"><i nz-icon nzType="read"></i>查看
      </button>
      <button nz-button (click)="showFileFeature(row.id,row.filename)"><i
        nz-icon nzType="line-chart"></i>透视
      </button>
      <button nz-button nz-popconfirm nzPopconfirmTitle="确定要删除此文件吗？" (nzOnConfirm)="deleteFile(row.id)"><i nz-icon nzType="delete"></i>删除
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>


<nz-modal [(nzVisible)]="isVisibleFileContent" [nzTitle]="fileName" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()" nzWidth="50%" nzFooter=null>
<!--  <nz-tag nzColor="red">只显示前1000字</nz-tag>-->
  <textarea disabled>{{content}}</textarea>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleFileFeature" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="50%"
          nzFooter=null nzMaskClosable>
  <nz-descriptions [nzTitle]=fileName nzBordered>
    <nz-descriptions-item [nzTitle]=c.header *ngFor="let c of colDetails">
      {{this.fileFeatureItem[c.field]}}
    </nz-descriptions-item>
  </nz-descriptions>

</nz-modal>


