

<div>
  <nz-card [nzBordered]="false" nzTitle="文件列表" [nzExtra]="extraTemplate">
    <nz-table #basicTable
              nzShowPagination
              nzShowSizeChanger
              [nzData]="listOfData"
              nzSize="small"
              nzFrontPagination="true">
      <thead>
      <tr>
        <th nzShowSort [nzSortKey]=col.field *ngFor="let col of cols">
          {{col.header}}
        </th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let f of basicTable.data">
        <td *ngFor="let col of cols">
          {{f[col.field]}}
        </td>
        <td><a><i nz-icon nzType="delete"></i> 删除</a></td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>


