

<div>
  <nz-card [nzBordered]="false" nzTitle="文件列表" [nzExtra]="extraTemplate">
    <nz-table #basicTable
              nzShowPagination
              [nzData]="listOfData"
              nzSize="small"
              nzFrontPagination="true">
      <thead>
      <tr>
        <th [nzSortKey]=col.field *ngFor="let col of cols">
          {{col.header}}
        </th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of basicTable.data">
        <td *ngFor="let col of cols">
          {{row[col.field]}}
        </td>
        <td><button nz-button nz-popconfirm nzTitle="确定要删除此文件吗？" (nzOnConfirm)="deleteRow(row.id)"><i nz-icon nzType="delete"></i>删除</button></td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>


